{% extends "base.html" %}
{% load static %}
{% load blog_tags %}

{% block content %}

<!-- Start banner Area -->
<section class="banner-area relative">
	<div class="overlay overlay-bg"></div>

	<div class="container">
		<div class="row fullscreen align-items-center justify-content-between">
			<div class="col-lg-12">
				<div class="banner-content text-center">
					<p class="text-white">Welcome to our blog</p>

					<h1 class="text-white">{{post.title}}</h1>

					<div class="bread-crumb">
						<a href="{% url 'website:index' %}">Home</a>
						<span class="lnr lnr-arrow-right"></span>

						<a href="{% url 'blog:index' %}">Blog</a>
						<span class="lnr lnr-arrow-right"></span>

						<span>Blog Single</span>
					</div>
				</div>
			</div>
		</div>
</section>
<!-- End banner Area -->


<!-- Start single-post Area -->
<section class="post-content-area section-gap">

	<div class="container">

		<div class="row">

			<div class="col-lg-8 posts-list">

				<div class="single-post row">

					<div class="col-lg-12">

						<div class="feature-img">
							<img class="img-fluid" src="{{ post.image.url }}" alt="">
						</div>

					</div>

					<div class="col-lg-12">

						<div class="user-details row">

							<p class="user-name col-lg-3 col-md-3 col-6">
								<a href="#">{{post.author}}</a>
								<span class="lnr lnr-user"></span>
							</p>

							<p class="date col-lg-3 col-md-3 col-6">
								<a href="#">{{post.published_date|date:"d M Y"}}</a>
								<span class="lnr lnr-calendar-full"></span>
							</p>

							<p class="view col-lg-3 col-md-3 col-6">
								<a href="#">{{post.counted_view}} Views</a>
								<span class="lnr lnr-eye"></span>
							</p>

							<p class="comments col-lg-3 col-md-3 col-6">
								<a href="#">06 Comments</a>
								<span class="lnr lnr-bubble"></span>
							</p>

						</div>

						<h3 class="posts-title">
							{{ post.title }}
						</h3>

						<p class="excert">
							{{ post.content }}
						</p>

					</div>

				</div>
				<!-- Post Navigation -->
				<div class="navigation-area">

					<div class="row">

						{% if previous_post %}

						{% if next_post %}
						<div class="col-lg-6 col-md-6 col-12 nav-right">
							<a href="{% url 'blog:single' pid=next_post.id %}">
								<div class="detials">
									<p>Next Post</p>
									<h4>{{ next_post.title }}</h4>
								</div>

								<div class="thumb">
									<img class="img-fluid" src="{% static 'img/blog/next.jpg' %}" alt="Next Post">
								</div>

								<span class="lnr lnr-arrow-right"></span>
							</a>
						</div>
						{% endif %}
						{% endif %}

					</div>

				</div>
				<!-- End Post Navigation -->


				<!-- Comments Area -->
				<div class="comments-area">

					<h4>05 Comments</h4>

					<div class="comment-list">

						<div class="single-comment justify-content-between d-flex">

							<div class="user justify-content-between d-flex">

								<div class="thumb">
									<img src="{% static 'img/blog/c1.jpg' %}" alt="Comment User">
								</div>

								<div class="desc">

									<h5>
										<a href="#">Emilly Blunt</a>
									</h5>

									<p class="date">
										December 4, 2017 at 3:12 pm
									</p>

									<p class="comment">
										Never say goodbye till the end comes!
									</p>

								</div>

							</div>

							<div class="reply-btn">
								<a href="#" class="btn-reply text-uppercase">
									reply
								</a>
							</div>

						</div>

					</div>


					<div class="comment-list">

						<div class="single-comment justify-content-between d-flex">

							<div class="user justify-content-between d-flex">

								<div class="thumb">
									<img src="{% static 'img/blog/c2.jpg' %}" alt="Comment User">
								</div>

								<div class="desc">

									<h5>
										<a href="#">Elsie Cunningham</a>
									</h5>

									<p class="date">
										December 4, 2017 at 3:12 pm
									</p>

									<p class="comment">
										Great article. I really enjoyed reading this
										post and learning more about astronomy.
									</p>

								</div>

							</div>

							<div class="reply-btn">
								<a href="#" class="btn-reply text-uppercase">
									reply
								</a>
							</div>

						</div>

					</div>


					<div class="comment-list">

						<div class="single-comment justify-content-between d-flex">

							<div class="user justify-content-between d-flex">

								<div class="thumb">
									<img src="{% static 'img/blog/c3.jpg' %}" alt="Comment User">
								</div>

								<div class="desc">

									<h5>
										<a href="#">Maria Luna</a>
									</h5>

									<p class="date">
										December 4, 2017 at 3:12 pm
									</p>

									<p class="comment">
										This is a very interesting topic. Thanks for
										sharing this information.
									</p>

								</div>

							</div>

							<div class="reply-btn">
								<a href="#" class="btn-reply text-uppercase">
									reply
								</a>
							</div>

						</div>

					</div>


					<div class="comment-list">

						<div class="single-comment justify-content-between d-flex">

							<div class="user justify-content-between d-flex">

								<div class="thumb">
									<img src="{% static 'img/blog/c4.jpg' %}" alt="Comment User">
								</div>

								<div class="desc">

									<h5>
										<a href="#">John Doe</a>
									</h5>

									<p class="date">
										December 4, 2017 at 3:12 pm
									</p>

									<p class="comment">
										I learned something new from this post.
									</p>

								</div>

							</div>

							<div class="reply-btn">
								<a href="#" class="btn-reply text-uppercase">
									reply
								</a>
							</div>

						</div>

					</div>


					<div class="comment-list">

						<div class="single-comment justify-content-between d-flex">

							<div class="user justify-content-between d-flex">

								<div class="thumb">
									<img src="{% static 'img/blog/c5.jpg' %}" alt="Comment User">
								</div>

								<div class="desc">

									<h5>
										<a href="#">Sarah Smith</a>
									</h5>

									<p class="date">
										December 4, 2017 at 3:12 pm
									</p>

									<p class="comment">
										Thanks for sharing this useful article.
									</p>

								</div>

							</div>

							<div class="reply-btn">
								<a href="#" class="btn-reply text-uppercase">
									reply
								</a>
							</div>

						</div>

					</div>

				</div>
				<!-- End Comments Area -->


				<!-- Comment Form -->
				<div class="comment-form">

					<h4>Leave a Comment</h4>

					<form>

						<div class="form-group">

							<div class="row">

								<div class="col-lg-6">
									<input type="text" name="name" placeholder="Enter your name"
										onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'"
										class="common-input mb-20 form-control">
								</div>

								<div class="col-lg-6">
									<input type="email" name="email" placeholder="Enter email address"
										onfocus="this.placeholder = ''"
										onblur="this.placeholder = 'Enter email address'"
										class="common-input mb-20 form-control">
								</div>

								<div class="col-lg-12">
									<input type="text" name="subject" placeholder="Enter Subject"
										onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'"
										class="common-input mb-20 form-control">
								</div>

								<div class="col-lg-12">

									<textarea class="form-control mb-10" name="message" placeholder="Messege"
										onfocus="this.placeholder = ''"
										onblur="this.placeholder = 'Messege'"></textarea>

									<button type="submit" class="primary-btn text-uppercase">
										Post Comment
									</button>

								</div>

							</div>

						</div>

					</form>

				</div>
				<!-- End Comment Form -->

			</div>
			<!-- End Main Blog Content -->


			<!-- Sidebar -->
			<div class="col-lg-4 sidebar-widgets">

				<div class="widget-wrap">


					<!-- Search Widget -->
					{% include "blog/blog-search.html" %}
					<!-- End Search Widget -->


					<!-- Author Widget -->
					{% include "blog/blog-writer.html" %}
					<!-- End Author Widget -->


					<!-- Tag Cloud Widget -->
					{% include "blog/blog-tags.html" %}
					<!-- End Tag Cloud Widget -->


					<!-- Popular Posts -->
					{% popularposts %}
					<!-- End Popular Posts -->


					<!-- Ads Widget -->
					{% include "blog/blog-ads.html" %}
					<!-- End Ads Widget -->


					<!-- Categories Widget -->
					<!-- {% include "blog/blog-post-categories.html" %} -->
					<!-- End Categories Widget -->


					<!-- Newsletter Widget -->
					<!-- {% include "blog/blog-newsletter.html" %} -->
					<!-- End Newsletter Widget -->




				</div>

			</div>
			<!-- End Sidebar -->

		</div>

	</div>
</section>
<!-- End blog-posts Area -->

{% endblock %}